<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pistols</key>
	<dict>
		<key>name</key>
		<string>Súng Lục</string>
		<key>price</key>
		<array>
			<string>200$</string>
			<string>700$</string>
			<string>300$</string>
			<string>800$</string>
			<string>500$</string>
			<string>500$</string>
			<string>850$</string>
			<string>200$</string>
			<string>700$</string>
			<string>200$</string>
		</array>
		<key>images</key>
		<array>
			<string>glock18</string>
			<string>dual</string>
			<string>p250</string>
			<string>desertEagle</string>
			<string>fiveseven</string>
			<string>cz</string>
			<string>revolver</string>
			<string>p2000</string>
			<string>tec9</string>
			<string>usps</string>
		</array>
		<key>content</key>
		<string>Liên hệ gaben: 0969696969</string>
	</dict>
	<key>heavy</key>
	<dict>
		<key>name</key>
		<string>Heavy</string>
		<key>price</key>
		<array>
			<string>1200$</string>
			<string>2200$</string>
			<string>1800$</string>
			<string>2200$</string>
			<string>5200$</string>
			<string>5700$</string>
		</array>
		<key>images</key>
		<array>
			<string>mag7</string>
			<string>nova</string>
			<string>sawedoff</string>
			<string>XM1014</string>
			<string>m249</string>
			<string>negev</string>
		</array>
		<key>content</key>
		<string>Liên hệ gaben: 0969696969</string>
	</dict>
	<key>SMGs</key>
	<dict>
		<key>name</key>
		<string>SMGs</string>
		<key>price</key>
		<array>
			<string>1250$</string>
			<string>1700$</string>
			<string>1200$</string>
			<string>2350$</string>
			<string>1400$</string>
			<string>1400$</string>
		</array>
		<key>images</key>
		<array>
			<string>mac10</string>
			<string>mp7</string>
			<string>mp9</string>
			<string>p90</string>
			<string>ump45</string>
			<string>bizon</string>
		</array>
		<key>content</key>
		<string>Liên hệ gaben </string>
	</dict>
	<key>Rifiles</key>
	<dict>
		<key>name</key>
		<string>Rifles</string>
		<key>price</key>
		<array>
			<string>1800$</string>
			<string>4250$</string>
			<string>5000$</string>
			<string>3250$</string>
			<string>3100$</string>
			<string>2100$</string>
			<string>2100$</string>
			<string>4400$</string>
			<string>2250$</string>
			<string>2000$</string>
			<string>4750$</string>
		</array>
		<key>images</key>
		<array>
			<string>ssg08</string>
			<string>sg553</string>
			<string>scar20</string>
			<string>m4a1s</string>
			<string>m4a4</string>
			<string>galil</string>
			<string>ak47</string>
			<string>aug</string>
			<string>famas</string>
			<string>g3sg1</string>
			<string>awp</string>
		</array>
		<key>content</key>
		<string>Liên hệ gaben</string>
	</dict>
	<key>knives</key>
	<dict>
		<key>name</key>
		<string>knives</string>
		<key>price</key>
		<array>
			<string>•••</string>
			<string>•••</string>
			<string>•••</string>
			<string>•••</string>
			<string>•••</string>
			<string>•••</string>
			<string>•••</string>
			<string>•••</string>
			<string>•••</string>
			<string>•••</string>
		</array>
		<key>images</key>
		<array>
			<string>bayonet</string>
			<string>bowie</string>
			<string>butterfly</string>
			<string>daggers</string>
			<string>falchion</string>
			<string>flip</string>
			<string>gut</string>
			<string>huntsman</string>
			<string>karambit</string>
			<string>m9</string>
		</array>
		<key>content</key>
		<string>Liên hệ gaben</string>
	</dict>
</dict>
</plist>
